.Card {
  backdrop-filter: blur(2px);
  border: 1px solid rgba(153, 153, 153, 0.497);
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  margin-bottom: 25px;
  text-align: center;
}

.cardContent {
  display: flex;
  align-items: center; /* Center items vertically */
  white-space: nowrap; /* Prevent text from wrapping */
}

.title,
.vote,
.timestamp {
  text-decoration: none;
  color: white;
  padding-left: 30px;
  font-size: 24px;
}

.vote {
  margin-left: auto; /* Push the timestamp to the right */
}

a {
  text-decoration: none; /* Remove underline from links */
  color: inherit; /* Inherit color from parent */
}

.moreButton {
  width: 30px;
  float: right;
}

.moreButton:hover {
  cursor: pointer;
}
